<%= form_for(@assessment) do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table align="center">
   <tr><td>
Date Submitted
  </td>	<td><div class="field">
    <% f.label :one %>
    <%= f.date_select :one %>
  </div>
           	</td>
           </tr><tr>	<td>
Department
  </td>	<td><div class="field">
    <% f.label :two %><br>
    <%= f.text_field :two %>
  </div>
           	</td>
           </tr><tr>	<td>
Degree/Type
  </td>	<td><div class="field">
    <% f.label :three %><br>
    <%= f.text_field :three %>
  </div>
           	</td>
           </tr><tr>	<td>
Contact Person (name,title, email)
  </td>	<td><div class="field">
    <% f.label :four %><br>
    <%= f.text_field :four %>
  </div>
           	</td>
           </tr><tr>	<td>
Date reviewed by CARC
  </td>	<td><div class="field">
    <% f.label :text %><br>
    <%= f.text_field :five %>
  </div>
           	</td>
           </tr><tr>	<td>
Program’s Assessment Plan (assessment of all SLOs) spans 1, 2, or 3 Assessment Cycles?
  </td>	<td><div class="field">
    <% f.label :six %><br>
    <%= f.text_area :six %>
  </div>
           	</td>
           </tr><tr>	<td>
What year in the Assessment Cycle (i.e., 1st, 2nd, or 3rd)?
  </td>	<td><div class="field">
    <% f.label :seven %><br>
    <%= f.text_area :seven %>
  </div>
           	</td>
           </tr><tr>	<td>
Action Plan from Previous Assessment Year: Describe the actions and/or plan revisions that were implemented during this reporting period in response to the previous period’s assessment results (e.g. what was implemented during F13-Sp14 as result of F12-Sp13’s reporting period?) Documentation required: Include documents such as updated syllabi, textbook changes, emails, meeting agendas, etc.
  </td>	<td><div class="field">
    <% f.label :eight %><br>
    <%= f.text_area :eight %>
  </div>
           	</td>
           </tr><tr>	<td>
Program Goal
  </td>	<td><div class="field">
    <% f.label :nine %><br>
    <%= f.text_area :nine %>
  </div>
           	</td>
           </tr><tr>	<td>
Program SLO (Assessed)
  </td>	<td><div class="field">
    <% f.label :ten %><br>
    <%= f.text_area :ten %>
  </div>
           	</td>
           </tr></table>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
