<p id="notice"><%= notice %></p>

<h1>Listing Annual Academic Program Assessment Reports
</h1>

<% if current_user.position == 'Admin' %>

<table border = '1'>
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
      <th>Four</th>
      <th>Text</th>
      <th>Five</th>
      <th>Six</th>
      <th>Seven</th>
      <th>Eight</th>
      <th>Nine</th>
      <th>Ten</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @assessments.each do |assessment| %>
      <tr>
        <td><%= assessment.one %></td>
        <td><%= assessment.two %></td>
        <td><%= assessment.three %></td>
        <td><%= assessment.four %></td>
        <td><%= assessment.text %></td>
        <td><%= assessment.five %></td>
        <td><%= assessment.six %></td>
        <td><%= assessment.seven %></td>
        <td><%= assessment.eight %></td>
        <td><%= assessment.nine %></td>
        <td><%= assessment.ten %></td>
        <% flag = 0 %>
            <% @assessment_managers.each do |assessment_manager| %>
              <% if assessment.id == assessment_manager.assessment_id %>
                <% flag = 1 %>
                <td><%= assessment_manager.comment %></td>
                <td><%= assessment_manager.score %></td>
                <td><%= link_to 'Grade', edit_assessment_assessment_manager_path(assessment, assessment_manager.id) %></td>
              <% end %>
            <% end %>
            <% if flag == 0 %>
                <td>Need to Grade</td>
                <td>Need to Grade</td>
                <td><%= link_to 'Grade', new_assessment_assessment_manager_path(assessment) %></td>
            <% end %>
        <td><%= link_to 'Edit', edit_assessment_path(assessment) %></td>
        <td><%= link_to 'Destroy', assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<% if current_user.position == 'Manager' %>
<table border = "1">
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
      <th>Four</th>
      <th>Text</th>
      <th>Five</th>
      <th>Six</th>
      <th>Seven</th>
      <th>Eight</th>
      <th>Nine</th>
      <th>Ten</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if current_user.department_name == user.department_name %>
        <% identity = user.id %>
        <% @assessments.each do |assessment| %>
          <tr>
          <% if identity == assessment.user_id %>
            <td><%= assessment.one %></td>
            <td><%= assessment.two %></td>
            <td><%= assessment.three %></td>
            <td><%= assessment.four %></td>
            <td><%= assessment.text %></td>
            <td><%= assessment.five %></td>
            <td><%= assessment.six %></td>
            <td><%= assessment.seven %></td>
            <td><%= assessment.eight %></td>
            <td><%= assessment.nine %></td>
            <td><%= assessment.ten %></td>
            <% flag = 0 %>
            <% @assessment_managers.each do |assessment_manager| %>
              <% if assessment.id == assessment_manager.assessment_id %>
                <% flag = 1 %>
                <td><%= assessment_manager.comment %></td>
                <td><%= assessment_manager.score %></td>
                <td><%= link_to 'Grade', edit_assessment_assessment_manager_path(assessment, assessment_manager.id) %></td>
              <% end %>
            <% end %>
            <% if flag == 0 %>
                <td>Need to Grade</td>
                <td>Need to Grade</td>
                <td><%= link_to 'Grade', new_assessment_assessment_manager_path(assessment) %></td>
            <% end %>
            <td><%= link_to 'Edit', edit_assessment_path(assessment) %></td>
            <td><%= link_to 'Destroy', assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<% end %>

<% if current_user.position == 'User' %>

<table border = '1'>
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
      <th>Four</th>
      <th>Text</th>
      <th>Five</th>
      <th>Six</th>
      <th>Seven</th>
      <th>Eight</th>
      <th>Nine</th>
      <th>Ten</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @assessments.each do |assessment| %>
      <tr>
      <% if current_user.id == assessment.user_id %>
        <td><%= assessment.one %></td>
        <td><%= assessment.two %></td>
        <td><%= assessment.three %></td>
        <td><%= assessment.four %></td>
        <td><%= assessment.text %></td>
        <td><%= assessment.five %></td>
        <td><%= assessment.six %></td>
        <td><%= assessment.seven %></td>
        <td><%= assessment.eight %></td>
        <td><%= assessment.nine %></td>
        <td><%= assessment.ten %></td>
        <td><%= link_to 'Show', assessment %></td>
        <td><%= link_to 'Edit', edit_assessment_path(assessment) %></td>
        <td><%= link_to 'Destroy', assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Report', new_assessment_path %>
<% end %>

<br>
<%= link_to 'Back', mains_path %>