<%= form_for(@schoole_manager) do |f| %>
  <% if @schoole_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schoole_manager.errors.count, "error") %> prohibited this schoole_manager from being saved:</h2>

      <ul>
      <% @schoole_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% s = request.original_url %>
  <% s = s[31...-21] %>
  <% s = s.to_i %>
  <% @schooles.each do |schoole| %>
    <% if schoole.id == s %>
    <p>
      <strong>Title of Degree or Certificate Program:</strong>
      <%= schoole.one %>
      <br>
      <strong>Degree Level:</strong>
      <%= schoole.two %>
      <br>
      <strong>Name of Academic Department:</strong>
      <%= schoole.three %>
      <br>
      <strong>Name of College/School/Branch:</strong>
      <%= schoole.four %>
      <br>
      <strong>Academic Year/Assessment Period:</strong>
      <%= schoole.five %>
      <br>
      <strong>Submitted By (include email address):</strong>
      <%= schoole.six %>
      <br>
      <strong>Date Submitted to College/School/Branch for Review:</strong>
      <%= schoole.seven %>
      <br>
      <strong>Date Reviewed by College Assessment and Review Committee (CARC) or the equivalent:</strong>
      <%= schoole.eight %>
      <br>
      <strong>State whether ALL of the program’s student learning outcomes (SLOs) are targeted/assessed/measured within one year, two years, OR three years:</strong>
      <%= schoole.nine %>
      <br>
      <strong>If the program’s SLO’s are targeted/assessed/measured within two years or three years, please state whether this assessment record focuses on SLOs from the first year, second year, or third year: </strong>
      <%= schoole.ten %>
      <br>
    </p>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :schoole_id, :value => s %>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% if current_user.position == "Admin" %>
    <br>
    <% @schoole_managers.each do |schoolemanager| %>
      <% if schoolemanager.schoole_id == s %>
        <% ids = schoolemanager.user_id %>
        <% @users.each do |user| %>
          <% if ids == user.id %>
            <strong>Graded By </strong><%= user.email %>
            <strong>Under </strong><%= user.department_name %> Department
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>