<p id="notice"><%= notice %></p>

<h1>Listing Schoole Managers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Schoole</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schoole_managers.each do |schoole_manager| %>
      <tr>
        <td><%= schoole_manager.user %></td>
        <td><%= schoole_manager.schoole %></td>
        <td><%= schoole_manager.comment %></td>
        <td><%= schoole_manager.score %></td>
        <td><%= link_to 'Show', schoole_manager %></td>
        <td><%= link_to 'Edit', edit_schoole_manager_path(schoole_manager) %></td>
        <td><%= link_to 'Destroy', schoole_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schoole manager', new_schoole_manager_path %>
