<%= form_for(@schoole) do |f| %>
  <% if @schoole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schoole.errors.count, "error") %> prohibited this schoole from being saved:</h2>

      <ul>
      <% @schoole.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table align="center">
   <tr><td>
    Title of Degree or Certificate Program
    </td>	<td><div class="field"><% f.label :one %>
    <%= f.text_field :one %>
  </div></td>
           </tr><tr>	<td>
             Degree Level

       </td>	<td><div class="field"><% f.label :two %>
    <%= f.text_field :two %>
  </div></td>
           </tr><tr>	<td>
                Name of Academic Department:

       </td>	<td><div class="field"><% f.label :three %>
    <%= f.text_field :three %>
  </div></td>
           </tr><tr>	<td>
                Name of College/School/Branch:

       </td>	<td><div class="field"><% f.label :four %>
    <%= f.text_field :four %>
  </div></td>
           </tr><tr>	<td>
                Academic Year/Assessment Period:

       </td>	<td><div class="field"><% f.label :five %>
    <%= f.text_field :five %>
  </div></td>
           </tr><tr>	<td>
                Submitted By (include email address):

       </td>	<td><div class="field"><% f.label :six %>
    <%= f.text_field :six %>
  </div></td>
           </tr><tr>	<td>
                Date Submitted to College/School/Branch for Review:

       </td>	<td><div class="field"><% f.label :seven %>
    <%= f.date_select :seven %>
  </div></td>
           </tr><tr>	<td>
                Date Reviewed by College Assessment and Review Committee (CARC) or the equivalent:

       </td>	<td><div class="field"><% f.label :eight %>
    <%= f.date_select :eight %>
  </div></td>
           </tr><tr>	<td>
                State whether ALL of the program’s student learning outcomes (SLOs) are targeted/assessed/measured within one year, two years, OR three years:

       </td>	<td><div class="field"><% f.label :nine %>
           <%= f.text_area :nine %>
  </div></td>
           </tr><tr>	<td>
                If the program’s SLO’s are targeted/assessed/measured within two years or three years, please state whether this assessment record focuses on SLOs from the first year, second year, or third year:

       </td>	<td><div class="field"><% f.label :ten %>
    <%= f.text_area :ten %>
  </div></td></tr></table>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
