<p id="notice"><%= notice %></p>

<h1>Listing College of Arts & Sciences Form</h1>
<% if current_user.position == 'Admin' %>
<table border="1">
  <thead>
    <tr>
      <th>Name of Degree or Certificate Program</th>
      <th>Name of Academic Department (if not a standalone program):</th>
      <th>Date Submitted to College/School/Branch for Review:</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @collegeaands.each do |collegeaand| %>
      <tr>
        <td><%= collegeaand.one %></td>
        <td><%= collegeaand.three %></td>
        <td><%= collegeaand.seven %></td>
        <% flag = 0 %>
        <% @college_managers.each do |college_manager| %>
          <% if collegeaand.id == college_manager.collegeaand_id %>
            <% flag = 1 %>
            <td><%= college_manager.comment %></td>
            <td><%= college_manager.score %></td>
            <td><%= link_to 'Grade', edit_collegeaand_college_manager_path(college_manager.id, collegeaand) %></td>
          <% end %>
        <% end %>
        <% if flag == 0 %>
          <td>Need to Grade</td>
          <td>Need to Grade</td>
          <td><%= link_to 'Grade', new_collegeaand_college_manager_path(collegeaand) %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_collegeaand_path(collegeaand) %></td>
        <td><%= link_to 'Destroy', collegeaand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if current_user.position == 'Manager' %>
<table border="1">
  <thead>
    <tr>
      <th>Name of Degree or Certificate Program</th>
      <th>Name of Academic Department (if not a standalone program):</th>
      <th>Date Submitted to College/School/Branch for Review:</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead
  <tbody>
    <% @users.each do |user| %>
      <% if current_user.department_name == user.department_name %>
        <% identity = user.id %>
        <% @collegeaands.each do |collegeaand| %>
          <tr>
          <% if identity == collegeaand.user_id %>
            <td><%= collegeaand.one %></td>
            <td><%= collegeaand.three %></td>
            <td><%= collegeaand.seven %></td>
            <% flag = 0 %>
            <% @college_managers.each do |college_manager| %>
              <% if collegeaand.id == college_manager.collegeaand_id %>
                <% flag = 1 %>
                <td><%= college_manager.comment %></td>
                <td><%= college_manager.score %></td>
                <td><%= link_to 'Grade', edit_collegeaand_college_manager_path(collegeaand, college_manager.id) %></td>
              <% end %>
            <% end %>
            <% if flag == 0 %>
              <td>Need to Grade</td>
              <td>Need to Grade</td>
              <td><%= link_to 'Grade', new_collegeaand_college_manager_path(collegeaand) %></td>
            <% end %>
            <td><%= link_to 'Edit', edit_collegeaand_path(collegeaand) %></td>
            <td><%= link_to 'Destroy', collegeaand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%end%>

<% if current_user.position == 'User' %>
<table border="1">
  <thead>
    <tr>
      <th>Name of Degree or Certificate Program</th>
        <th>Degree Level</th>
        <th>Name of Academic Department (if not a standalone  program): </th>
        <th>Name of College/School/Branch:</th>
        <th>Academic Year/Assessment Period: </th>
        <th>Submitted By (include email address): </th>
        <th>Date Submitted to College/School/Branch for Review:</th>
        <th>Date Reviewed by College Assessment and Review Committee (CARC) or the equivalent:</th>
        <th>State whether ALL of the program’s student learning outcomes (SLOs) are assessed over one year, two years, OR three years:</th>
        <th>If the program’s SLO’s are targeted/assessed/measured within two years or three years, please state whether this assessment record focuses on SLOs from the first year, second year, or third year of your assessment cycle: </th>
        <th>Describe the program changes that were implemented during this reporting period in response to the previous period’s assessment results. Please include evidence of implemented changes in an appendix:</th>
        <th>Describe any revisions to your assessment process that you made for this reporting cycle and/or plan to make for future reporting cycles:</th>
        <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @collegeaands.each do |collegeaand| %>
      <tr>
      <% if current_user.id == collegeaand.user_id %>
        <td><%= collegeaand.one %></td>
        <td><%= collegeaand.two %></td>
        <td><%= collegeaand.three %></td>
        <td><%= collegeaand.four %></td>
        <td><%= collegeaand.five %></td>
        <td><%= collegeaand.six %></td>
        <td><%= collegeaand.seven %></td>
        <td><%= collegeaand.eight %></td>
        <td><%= collegeaand.nine %></td>
        <td><%= collegeaand.ten %></td>
        <td><%= collegeaand.eleven %></td>
        <td><%= collegeaand.twelve %></td>
        <td><%= link_to 'Show', collegeaand %></td>
        <td><%= link_to 'Edit', edit_collegeaand_path(collegeaand) %></td>
        <td><%= link_to 'Destroy', collegeaand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New College of Arts & Sciences Form', new_collegeaand_path %>
<% end %>

<br>
<%= link_to 'Back', mains_path %>