<%= form_for(@assessment_manager) do |f| %>
  <% if @assessment_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment_manager.errors.count, "error") %> prohibited this assessment_manager from being saved:</h2>

      <ul>
      <% @assessment_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% s = request.original_url %>
  <br>
  <% s = s[34...-24] %>
  <br>
  <% s = s.to_i %>
  <% @assessments.each do |assessment| %>
    <% if assessment.id == s %>
    <p>
      <strong>One:</strong>
      <%= assessment.one %>
      <br>
      <strong>Two:</strong>
      <%= assessment.two %>
      <br>
      <strong>Three:</strong>
      <%= assessment.three %>
      <br>
      <strong>Four:</strong>
      <%= assessment.four %>
      <br>
      <strong>Five:</strong>
      <%= assessment.five %>
      <br>
      <strong>Six:</strong>
      <%= assessment.six %>
      <br>
      <strong>Seven:</strong>
      <%= assessment.seven %>
      <br>
      <strong>Eight:</strong>
      <%= assessment.eight %>
      <br>
      <strong>Nine:</strong>
      <%= assessment.nine %>
      <br>
      <strong>Ten:</strong>
      <%= assessment.ten %>
      <br>
    </p>
    <% end %>
  <% end %>
  
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :assessment_id, :value => s %>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% if current_user.position == "Admin" %>
    <br>
    <% @assessment_managers.each do |assessmentmanager| %>
      <% if assessmentmanager.assessment_id == s %>
        <% ida = assessmentmanager.user_id %>
        <% @users.each do |user| %>
          <% if ida == user.id %>
            <strong>Graded By </strong><%= user.email %>
            <strong>Under </strong><%= user.department_name %> Department
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>