<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @assessment_manager.user %>
</p>

<p>
  <strong>Assessment:</strong>
  <%= @assessment_manager.assessment %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @assessment_manager.comment %>
</p>

<p>
  <strong>Score:</strong>
  <%= @assessment_manager.score %>
</p>

<%= link_to 'Edit', edit_assessment_manager_path(@assessment_manager) %> |
<%= link_to 'Back', assessment_managers_path %>
