<p id="notice"><%= notice %></p>

<h1>Listing Generic Managers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Generic</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_managers.each do |generic_manager| %>
      <tr>
        <td><%= generic_manager.user %></td>
        <td><%= generic_manager.generic %></td>
        <td><%= generic_manager.comment %></td>
        <td><%= generic_manager.score %></td>
        <td><%= link_to 'Show', generic_manager %></td>
        <td><%= link_to 'Edit', edit_generic_manager_path(generic_manager) %></td>
        <td><%= link_to 'Destroy', generic_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_generic_manager_path %>
