<p id="notice"><%= notice %></p>

<h1>Listing UNM Generic Forms </h1>

<% if current_user.position == 'Admin' %>

<table border = '1'>
  <thead>
    <tr>
      <th>Title of Degree or Certificate Program</th>
      <th>Name of Academic Department (if relevant):</th>
      <th>Date Submitted to College/School/Branch for Review:</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @generics.each do |generic| %>
      <tr>
        <td><%= generic.one %></td>
        <td><%= generic.three %></td>
        <td><%= generic.seven %></td>
        <% flag = 0 %>
            <% @generic_managers.each do |generic_manager| %>
              <% if generic.id == generic_manager.generic_id %>
                <% flag = 1 %>
                <td><%= generic_manager.comment %></td>
                <td><%= generic_manager.score %></td>
                <td><%= link_to 'Grade', edit_generic_generic_manager_path(generic, generic_manager.id) %></td>
              <% end %>
            <% end %>
            <% if flag == 0 %>
                <td>Need to Grade</td>
                <td>Need to Grade</td>
                <td><%= link_to 'Grade', new_generic_generic_manager_path(generic) %></td>
            <% end %>
        <td><%= link_to 'Edit', edit_generic_path(generic) %></td>
        <td><%= link_to 'Destroy', generic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<% if current_user.position == 'Manager' %>
<table border = "1">
  <thead>
    <tr>
      <th>Title of Degree or Certificate Program</th>
      <th>Name of Academic Department (if relevant):</th>
      <th>Date Submitted to College/School/Branch for Review:</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if current_user.department_name == user.department_name %>
        <% identity = user.id %>
        <% @generics.each do |generic| %>
          <tr>
          <% if identity == generic.user_id %>
            <td><%= generic.one %></td>
            <td><%= generic.three %></td>
            <td><%= generic.seven %></td>
            <% flag = 0 %>
            <% @generic_managers.each do |generic_manager| %>
              <% if generic.id == generic_manager.generic_id %>
                <% flag = 1 %>
                <td><%= generic_manager.comment %></td>
                <td><%= generic_manager.score %></td>
                <td><%= link_to 'Grade', edit_generic_generic_manager_path(generic, generic_manager.id) %></td>
              <% end %>
            <% end %>
            <% if flag == 0 %>
                <td>Need to Grade</td>
                <td>Need to Grade</td>
                <td><%= link_to 'Grade', new_generic_generic_manager_path(generic) %></td>
            <% end %>
            <td><%= link_to 'Edit', edit_generic_path(generic) %></td>
            <td><%= link_to 'Destroy', generic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<% end %>

<% if current_user.position == 'User' %>

<table border = '1'>
  <thead>
    <tr>
      <th>Title of Degree or Certificate Program</th>
      <th>Degree Level</th>
      <th>Name of Academic Department (if relevant):</th>
      <th>Name of College/School/Branch:</th>
      <th>Academic Year/Assessment Period:</th>
      <th>Submitted By (include email address):</th>
      <th>Date Submitted to College/School/Branch for Review:</th>
      <th>Date Reviewed by College Assessment and Review Committee (CARC) or the equivalent:</th>
      <th>State whether ALL of the program’s student learning outcomes (SLOs) are targeted/assessed/measured within one year, two years, OR three years:</th>
      <th>If the program’s SLO’s are targeted/assessed/measured within two years or three years, please state whether this assessment record focuses on SLOs from the first year, second year, or third year:</th>
      <th>Describe the actions and/or improvements that were implemented during the previous reporting period (provide relevant evidence):</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @generics.each do |generic| %>
      <tr>
      <% if current_user.id == generic.user_id %>
        <td><%= generic.one %></td>
        <td><%= generic.two %></td>
        <td><%= generic.three %></td>
        <td><%= generic.four %></td>
        <td><%= generic.five %></td>
        <td><%= generic.six %></td>
        <td><%= generic.seven %></td>
        <td><%= generic.eight %></td>
        <td><%= generic.nine %></td>
        <td><%= generic.ten %></td>
        <td><%= generic.eleven %></td>
        <td><%= link_to 'Show', generic %></td>
        <td><%= link_to 'Edit', edit_generic_path(generic) %></td>
        <td><%= link_to 'Destroy', generic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New UNM Generic Template Form', new_generic_path %>
<% end %>

<br>
<%= link_to 'Back', mains_path %>