<p>
  <strong>Title of Degree or Certificate Program:</strong>
  <%= @generic.one %>
</p>

<p>
  <strong>Degree Level:</strong>
  <%= @generic.two %>
</p>

<p>
  <strong>Name of Academic Department (if relevant):</strong>
  <%= @generic.three %>
</p>

<p>
  <strong>Name of College/School/Branch:</strong>
  <%= @generic.four %>
</p>

<p>
  <strong>Academic Year/Assessment Period:</strong>
  <%= @generic.five %>
</p>

<p>
  <strong>Submitted By (include email address):</strong>
  <%= @generic.six %>
</p>

<p>
  <strong>Date Submitted to College/School/Branch for Review:</strong>
  <%= @generic.seven %>
</p>

<p>
  <strong>Date Reviewed by College Assessment and Review Committee (CARC) or the equivalent:</strong>
  <%= @generic.eight %>
</p>

<p>
  <strong>State whether ALL of the program’s student learning outcomes (SLOs) are targeted/assessed/measured within one year, two years, OR three years:</strong>
  <%= @generic.nine %>
</p>

<p>
  <strong>If the program’s SLO’s are targeted/assessed/measured within two years or three years, please state whether this assessment record focuses on SLOs from the first year, second year, or third year:</strong>
  <%= @generic.ten %>
</p>

<p>
  <strong>Describe the actions and/or improvements that were implemented during the previous reporting period (provide relevant evidence):</strong>
  <%= @generic.eleven %>
</p>

<%= link_to 'Edit', edit_generic_path(@generic) %> |
<%= link_to 'Back', generics_path %>
