<h1>Editing Score</h1>

<%= render 'form' %>


<% s = request.original_url %>
<% s = s[35...-21] %>
<% s = s.to_i %>

<% @collegeaands.each do |collegeaand| %>
<% if collegeaand.id == s %>
<% @users.each do |user| %>
<% if collegeaand.user_id == user.id %>
<strong>Added By </strong><%= user.email %>
<strong>Under </strong><%= user.department_name %> Department
<% end %>
<% end %>
<% end %>
<% end %>
<br>

<%= link_to 'Back', collegeaands_path %>
