<p id="notice"><%= notice %></p>

<h1>Listing College Managers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Collegeaand</th>
      <th>Comment</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @college_managers.each do |college_manager| %>
      <tr>
        <td><%= college_manager.user %></td>
        <td><%= college_manager.collegeaand %></td>
        <td><%= college_manager.comment %></td>
        <td><%= college_manager.score %></td>
        <td><%= link_to 'Show', college_manager %></td>
        <td><%= link_to 'Edit', edit_college_manager_path(college_manager) %></td>
        <td><%= link_to 'Destroy', college_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New College manager', new_college_manager_path %>
