<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @college_manager.user %>
</p>

<p>
  <strong>Collegeaand:</strong>
  <%= @college_manager.collegeaand %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @college_manager.comment %>
</p>

<p>
  <strong>Score:</strong>
  <%= @college_manager.score %>
</p>

<%= link_to 'Edit', edit_college_manager_path(@college_manager) %> |
<%= link_to 'Back', college_managers_path %>
