body {
  background-color: #990000;
  color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-align:center;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 23px;
}

table,th,td {
  background-color: #fff;
  border: 1px solid black;
  text-align:center;
  align:center;
  font-size: 18px;
  color: #333;
}


td {
  padding: 10px;
  text-align:left;
  word-wrap:break-word;
  max-width:750px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
  text-align: center;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  text-align: center;
  align: center;

  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    background-color: #c00;
    color: #fff;
    align: center;
  }

  ul li {
    font-size: 12px;
    list-style: square;
    align: center;
  }
}